
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmployeeLabel">Create or edit a Employee</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.employee.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.employee.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fullName">Full Name</label>
            <input type="text" class="form-control" name="fullName" id="field_fullName"
                    ng-model="vm.employee.fullName"
                    required ng-maxlength="50" />
            <div ng-show="editForm.fullName.$invalid">
                <p class="help-block"
                    ng-show="editForm.fullName.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.fullName.$error.maxlength">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_birthDate">Birth Date</label>
                <div class="input-group">
                    <input id="field_birthDate" type="text" class="form-control" name="birthDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.employee.birthDate" is-open="vm.datePickerOpenStatus.birthDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.birthDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.birthDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="field_gender"
                    ng-model="vm.employee.gender"
                    required ng-maxlength="10" />
            <div ng-show="editForm.gender.$invalid">
                <p class="help-block"
                    ng-show="editForm.gender.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.gender.$error.maxlength">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_idNumber">Id Number</label>
            <input type="text" class="form-control" name="idNumber" id="field_idNumber"
                    ng-model="vm.employee.idNumber"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
